#conversejs.converse-embedded{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    bottom:auto;
    right:auto;
    position:relative;
    width:100%
}
#conversejs.converse-embedded *,#conversejs.converse-embedded :after,#conversejs.converse-embedded :before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
#conversejs.converse-embedded form.pure-form.converse-centered-form{
    position:absolute;
    top:30%;
    transform:translateY(-50%)
}
#conversejs.converse-embedded .chatroom{
    width:auto
}
#conversejs.converse-embedded .flyout{
    bottom:auto;
    display:block;
    position:relative
}
#conversejs.converse-embedded .chatbox{
    float:none
}
#conversejs.converse-embedded .chatbox .box-flyout{
    box-shadow:none
}
#conversejs.converse-embedded .chatbox .chat-title{
    padding:.3em;
    font-size:120%
}
#conversejs.converse-embedded .chatbox-btn{
    display:none
}
#conversejs.converse-embedded .chatroom .box-flyout{
    min-width:auto;
    width:100%;
}
#conversejs.converse-embedded .chatroom .box-flyout .chat-body{
    height:-webkit-calc(100% - 55px);
    height:calc(100% - 55px)
}
#conversejs.converse-embedded .chatroom .box-flyout .occupants-heading{
    font-size:120%
}
#conversejs.converse-embedded .chatroom .box-flyout .chat-content{
    height:calc(100% - 97px)
}
#conversejs.converse-embedded .chatroom .box-flyout .chat-content .chat-message{
    margin:.5em;
    font-size:120%
}
#conversejs.converse-embedded .chatroom .box-flyout .sendXMPPMessage .chat-textarea{
    padding:.5em;
    font-size:110%
}
#conversejs.converse-embedded .chatroom .box-flyout .chatroom-body .chatroom-form-container{
    font-size:180%;
    float:left;
    height:100%;
    position:relative
}
#conversejs.converse-embedded .chatroom .box-flyout .chatroom-body .chatroom-form-container input{
    font-size:60%
}
#conversejs.converse-embedded .chatroom .box-flyout .occupants .occupant-list{
    padding-left:.3em
}
#conversejs.converse-embedded .chatroom .box-flyout .occupants .occupant-list li.occupant{
    font-size:120%
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}